* {
    margin: 0;
    padding: 0;
    font-family: serif;
}

.topMain{
    display: flex;
    justify-content: space-around;
}
a{
    color:yellow;
}

.url{
    color: rgb(110, 110, 241);
}

.header{
    margin: auto;
    height: auto;
    background-color : darkblue;
    display: flex;
}

h1{
    color: white;
}

.main{
    background-color: rgb(233, 244, 247);
    margin: 0px;
    padding: 0px 0px;
    font-size: 18px;
}
.topMain{
    background-color: rgb(233, 244, 247);
    width: auto;
    height: 480px;
}


.mainUl{
    list-style: none;
    
}

span{
    font-size: 18px;
    color: navy;
}

.contents{
    
    margin: 0px 10px;
    
}

.contents-items{
    /* display: -webkit-flex; */
    display: flex;
    /* -webkit-justify-content: space-around; */
    justify-content: space-around;
}


h4{
    margin-bottom: 5px;
    text-align: center;
    border-bottom: 1px dotted blue;
}

.item{
    margin: 20px 20px 20px 20px;
    width: 300px;
    line-height: 1;
}


.footer{
    list-style: none;

    /* display: -webkit-flex; */
    display: flex;
    /* -webkit-justify-content: space-around; */
    justify-content: space-around;

    height: auto;
    background-color:darkblue;
}

/*-----------ここからは引用-----------------*/
/*ボタンアニメーション*/
.anime{
    width: 200px;
    text-align: center;
    display: block;
    text-decoration: none;
    color:darkblue;
    background-color: white;
    border-radius: 5px;
    transition: 0.3s;
    padding:  15px;                 /* 余白指定 */
    font-size:  20px;
}

.anime:hover {
    opacity:  0.8;                  /* 透明度指定 */
    width: 220px;                   /* 幅指定 */
}

/*ハンバーガーメニューとアニメーション*/
/*メニュー部分*/
#ham-menu {
    color: white;
    background-color:darkblue; /*メニュー背景色*/
    box-sizing: border-box;
    height: 100%;
    padding: 10px 40px; /*メニュー内部上下左右余白*/
    position: fixed;
    right: -220px; /*メニュー横幅①と合わせる*/
    top: 0;
    transition: transform 0.3s linear 0s; /*0.3s は変化するのにかかる時間*/
    width: 220px; /*メニュー横幅①*/
    z-index: 1000;
}

/*メニューアイコン部分は疑似要素で*/
#ham-menu::before {
    background-color: #fff; /*ボタン部分背景色*/
    border-radius: 0 0 0 10px; /*左下角丸*/
    color:darkblue; /*アイコン（フォント）色*/
    content: "≡"; /*メニューアイコン*/
    display: block;
    font-size: 50px; /*アイコン（フォント）サイズ*/
    height: 50px;
    line-height: 50px; /*縦位置中央化*/
    position: absolute;
    right: 100%;
    text-align: center;
    top: 0;
    width: 50px;
}

/*透過背景部分*/
#menu-background {
    background-color:white; /*黒背景部分背景色*/
    display: block;
    height: 100%;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.3s linear 0s; /*0.3s は変化するのにかかる時間*/
    width: 100%;
    z-index: -1;
}

/*hover 時の処理*/
#ham-menu:hover {
    transform: translate(-220px); /*メニュー横幅①と合わせる*/
}

#ham-menu:hover + #menu-background {
    opacity: 0.5; /*黒背景部分透過度*/
    z-index: 999;
}
<<<<<<< HEAD
a{
    color:yellow;
}

=======

/*--------------------------------------憲太----------------------------------------------------*/

/*--------------------------------------永遠----------------------------------------------------*/
.towaeien{
    font-size: 30p                                  x;
}
